[Desktop Entry]
Name=Sweet-mars
Comment[es]=Un tema oscuro y moderno para Plasma 5
Comment=A dark and modern theme for Plasma 5
X-KDE-PluginInfo-Author=EliverLara
X-KDE-PluginInfo-Email=eliverlara@gmail.com
X-KDE-PluginInfo-Name=Sweet-mars
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=https://github.com/EliverLara/Sweet/tree/mars/kde
X-KDE-PluginInfo-Category=Plasma Theme
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true
X-Plasma-API=5.0
