/************
 * Pathbars *
 ************/
.path-bar button {
  &.text-button, &.image-button, & {
    padding-left: 4px;
    padding-right: 4px;
  }

  &.text-button.image-button label {
    padding-left: 0;
    padding-right: 0;
  }

  &.text-button.image-button, & {
    label:last-child { padding-right: 6px; }
    label:first-child { padding-left: 6px; }
  }

  image {
    padding-left: 4px;
    padding-right: 4px;
  }

  &.slider-button {
    padding-left: 0;
    padding-right: 0;
  }
}

// Nautilus, filechooser(gnome 47) pathbar
#NautilusPathBar, .pathbar {
  background: transparent;
  margin-top: 7px;
  margin-bottom: 7px;
  .dim-label { 
    color: transparent; 
    margin-right: -5px;
  }

  //Buttons before current path
  button {
    .horizontal  .dim-label { 
      color: $headerbar_fg_color;
      padding: 3px 12px;
      margin: 0;
    }
    &:hover, &:focus {
      .dim-label { color: $selected_bg_color; }
      background-color: transparent;
      box-shadow: none;
    }
    &:active { background-color: transparent; }
  }
    // Home icon
    button > .horizontal > image.dim-label { 
    padding: 3px 0px 3px 12px; 
    border-right: none;
    margin-right: -6px;
  }

  // Reset path buttons appearance
  button {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
  }

  // Selected dir
  .current-dir  {
  
    label, image { 
      padding: 6px 12px;
      @include button(active-header); 
      
    }
    image { background: $selected_bg_color; }
  }
  
  button.current-dir:only-child {
    image {
      margin-right: -6px;
      padding: 0px 0px 0px 12px;
      border-radius: 23px 0px 0px 23px;
    }
    label { border-radius:0px 23px 23px 0px; }
  }
}

// search entry
#NautilusQueryEditor { 
  margin-top: 7px;
  margin-bottom: 7px;
  > menubutton > button {
    margin: 0;
    -gtk-icon-size: 12px;
    padding: 0 2px;
    &:hover, &:active, &:checked {
      image { color: $selected_fg_color; }
    }
  }

  > text, > image { margin: 0; }
}