// Xfce Panel
.xfce4-panel.panel {
    background-color: $panel_bg_color;
  
    text-shadow: none;
    -gtk-icon-shadow: none;
  
    button.flat { @extend %panelbutton; }
  }
  
  #tasklist-button {
    color: transparentize($panel_fg_color, 0.2);
    border-radius: 0;
    border: none;
    background-color: transparentize($panel_bg_color, 1);
  
    &:hover {
      color: lighten($panel_fg_color, 10%);
      background-color: transparentize(black, 0.83);
    }
  
    &:checked {
      color: white;
      background-color: transparentize(black, 0.75);
      box-shadow: inset 0 -2px $selected_bg_color;
    }
  }
  
  %panelbutton {
    color: $panel_fg_color;
    border-radius: 0;
    border: none;
    background-color: transparentize($panel_bg_color, 1);
  
    &:hover {
      border: none;
      background-color: lighten($panel_bg_color, 10%);
    }
    &:active, &:checked {
      color: $selected_fg_color;
      border-bottom: 2px solid $selected_bg_color;
      background-color: lighten($panel_bg_color, 15%);
  
      label, image { color: inherit; }
    }
  }



#whiskermenu-window button {
    background-color:transparent;
    border: none;
    border-radius: 0;
    font-weight: normal;
    padding: 2px;
    margin: 1px 0px;
    &:hover, &:checked {
        background-color: $selected_bg_color;
    }
}