/**********************
 * DE-Specific Styles *
 **********************/

@import 'apps/budgie';
@import 'apps/gnome';
@import 'apps/xfce';
@import 'apps/pantheon';
@import 'apps/unity';
@import 'apps/mate';

/***********************
 * App-Specific Styles *
 ***********************/

@import 'apps/geary';
@import 'apps/lightdm';
@import 'apps/nemo';
@import 'apps/caja';